:root {
  --body-background-color: #ffffff;
  --body-text-color: #002626;
  --card-background-color: #ffffff;
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #C1CCD6;
  --nav-current-border-bottom-color: #186ADE;
  --card-border-color: #C1CCD6;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #ffd0d2;
  --degraded-border-left-color: #F5C518;
  --up-border-left-color: #5B7282;
  --tag-color: #ffffff;
  --tag-up-background-color: #5B7282;
  --tag-down-background-color: #D91F11;
  --tag-degraded-background-color: #F5C518;
  --change-background-color: #F5C518;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}